<div class="card-container">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to the App</mat-card-title>
            <mat-card-subtitle>Subtitle goes here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This is some card content.</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-button>OK</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to the App</mat-card-title>
            <mat-card-subtitle>Subtitle goes here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This is some card content.</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-button>OK</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to the App</mat-card-title>
            <mat-card-subtitle>Subtitle goes here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This is some card content.</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-button>OK</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to the App</mat-card-title>
            <mat-card-subtitle>Subtitle goes here Subtitle goes here Subtitle goes here Subtitle goes here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This is some card content.</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-button>OK</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to the App</mat-card-title>
            <mat-card-subtitle>Subtitle goes here Subtitle goes here Subtitle goes here Subtitle goes here</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>This is some card content.</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
            <button mat-button>OK</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>